@media screen and (max-width:767px){
	
	footer{
		[class*='col-']{
			padding-left: 2%;
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width:701px){
	#mobileToggle{
		display: none;
	}
}

@media screen and (max-width:700px){
	.nav-link{
		display: none;
	}

	#mobileToggle.open ~ .nav-link{
		display: block;
		position: absolute;
		background:$grey;
		width:100%;
		left:0;
		text-align: left;
		z-index: 999;

		li{
			width:100%;
			a{
			color:black;
			
				&:hover, &:focus{
					color:$yellow;
				}
			}
		}
	}
	
	#toggle-submenu.open ~ .sub-menu{
		width:100%;
		left:0;
	}

	nav{
		margin-top: 30px;
	}
	.video-section{
		margin: 20px;

		iframe{
			width:100%;
			height: 300px;
		}
		p{
			font-size: 1em;
		}
	}
}
@media screen and (max-width:650px){

	.menuThumb{
		margin-top:10px;

		h3{
			font-size:1em;
		}
	}

	.video-section{
		iframe{
			height: 250px;
		}
		p{
			margin-top: 10px;
		}
	}

}

@media screen and (max-width:480px){
	.menuThumb{
	 	[class*='col-']{
	    	padding: 0;
	    	width:100%;
	    	display: block;
	    	float:none;
	  	}
	  	h3{
			font-size:1.3em;
		}
	}
	nav{
		margin-top: 15px;
	}
	#mobileToggle{
		margin:5px 10px;
	}
}
